<a href="https://colab.research.google.com/github/ElenaNtm/Energy-price-predictions/blob/main/Trading_data_HENEX(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Libraries

Page: https://www.enexgroup.gr/el/web/guest/official-lists?p_p_id=com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_v2cho0fcNMrv&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_v2cho0fcNMrv_delta=12&p_r_p_resetCur=false&_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_v2cho0fcNMrv_cur=1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
import requests
from datetime import datetime, timedelta

In [ ]:
import zipfile

#Create the base dataframe

In [ ]:
xlsx_path = 'https://www.enexgroup.gr/documents/20126/314344/20220901_DER_DOL_EN_v01.xlsx'
df = pd.read_excel(xlsx_path)#Specify the sheet, so that it does not import all the information from the excel file
df.head()

,Trade Day,Instrument,Number of Orders,Max Price of Orders,Min Price of Orders,Average Price of Orders,Number of Quotes,Number of Trades,Average Price of Trades,Total Quantity of Trades,Start Prices,Fixing Prices,Open Interest
0,2022-09-01,GREBM0922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.13,605.13,14.0
1,2022-09-01,GREBM1022,2.0,545.0,542.0,543.500000,1.0,NaN,NaN,NaN,593.50,543.50,NaN
2,2022-09-01,GREBM1122,2.0,665.5,661.5,663.500000,1.0,NaN,NaN,NaN,713.50,663.50,NaN
3,2022-09-01,GREBQ422,6.0,640.0,632.0,636.166667,3.0,NaN,NaN,NaN,671.50,636.50,1.0
4,2022-09-01,GREBY23,14.0,549.0,520.0,535.785714,7.0,NaN,NaN,NaN,577.50,522.50,NaN

#Loop the automated URL and import the excel files to the dataframe

In [ ]:
base_url = "https://www.enexgroup.gr/documents/20126/314344/"

In [ ]:
start_date = datetime(2023, 7, 1)
end_date = datetime(2022, 9, 2) #past from that we have no information on the page
date_format = "%Y%m%d"

In [ ]:
current_date = start_date
while current_date <= end_date:
   # Check if the current day is not a Saturday (weekday() returns 5) and not a Sunday (weekday() returns 6)
    if current_date.weekday() not in [5, 6]:
        date_str = current_date.strftime(date_format)
        url = f"{base_url}{date_str}_DER_DOL_EN_v01.xlsx"

    #Add the url for the dataframe creation
    xlsx_path = 'url'
    # Read the XLSX file into a pandas DataFrame
    df1 = pd.read_excel(xlsx_path, sheet_name = 'DOL_Derivatives') #Specify the sheet, so that it does not import all the information from the excel file
    df = pd.concat([df, df1])

    # Increment to the next date
    current_date += timedelta(days=1)

In [ ]:
df.head()

,Trade Day,Instrument,Number of Orders,Max Price of Orders,Min Price of Orders,Average Price of Orders,Number of Quotes,Number of Trades,Average Price of Trades,Total Quantity of Trades,Start Prices,Fixing Prices,Open Interest
0,2022-09-01,GREBM0922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.13,605.13,14.0
1,2022-09-01,GREBM1022,2.0,545.0,542.0,543.500000,1.0,NaN,NaN,NaN,593.50,543.50,NaN
2,2022-09-01,GREBM1122,2.0,665.5,661.5,663.500000,1.0,NaN,NaN,NaN,713.50,663.50,NaN
3,2022-09-01,GREBQ422,6.0,640.0,632.0,636.166667,3.0,NaN,NaN,NaN,671.50,636.50,1.0
4,2022-09-01,GREBY23,14.0,549.0,520.0,535.785714,7.0,NaN,NaN,NaN,577.50,522.50,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Trade Day                  8 non-null      datetime64[ns]
 1   Instrument                 8 non-null      object
 2   Number of Orders           7 non-null      float64
 3   Max Price of Orders        7 non-null      float64
 4   Min Price of Orders        7 non-null      float64
 5   Average Price of Orders    7 non-null      float64
 6   Number of Quotes           7 non-null      float64
 7   Number of Trades           0 non-null      float64
 8   Average Price of Trades    0 non-null      float64
 9   Total Quantity of Trades   0 non-null      float64
 10  Start Prices               8 non-null      float64
 11  Fixing Prices              8 non-null      float64
 12  Open Interest              2 non-null      float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 960.0+ bytes

#Save to Google Drive

In [ ]:
path = '/content/drive/My Drive/base_exchange_data_HENEX.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

#Create Separete Dataframe for the data from August 31st of 2022 and before that, they have a different format. No reason to add this data, all dataframe rows are duplicates

In [ ]:
#Base url
xlsx_path = 'https://www.enexgroup.gr/documents/20126/314344/20220103_DER_DOL_EN_v01.xlsx'
df = pd.read_excel(xlsx_path)#Specify the sheet, so that it does not import all the information from the excel file
df.head()

   Number of Registered Members  Number of Market Makers
0                            25                        1

In [ ]:
base_url = "https://www.enexgroup.gr/documents/20126/314344/"

In [ ]:
start_date = datetime(2022, 1, 4)
end_date = datetime(2022, 8, 31) #past from that we have no information on the page
date_format = "%Y%m%d"

In [ ]:
current_date = start_date
while current_date <= end_date:
    if current_date.weekday() not in [5, 6]:
        date_str = current_date.strftime(date_format)
        url = f"{base_url}{date_str}_DER_DOL_EN_v01.xlsx"

        try:
            # Try to download the file from the current URL
            response = requests.get(url)

            # Assuming you save the downloaded file locally before reading it
            xlsx_path = f"{date_str}_DER_DOL_EN_v01.xlsx"
            with open(xlsx_path, 'wb') as f:
                f.write(response.content)

            # Read the XLSX file into a pandas DataFrame, specifying the engine (openpyxl or xlrd)
            try:
                df1 = pd.read_excel(xlsx_path, engine='openpyxl')
            except zipfile.BadZipFile as e:
                print(f"Error: {e}. The file for {date_str} is not a valid Excel file.")
                # Optionally, you can delete the invalid file using os.remove(xlsx_path) here.
                # Otherwise, it will be kept on the local storage.

            df = pd.concat([df, df1])

        except requests.exceptions.RequestException as e:
            print(f"Error while downloading file for {date_str}: {e}")
        except FileNotFoundError as e:
            print(f"Error while reading file for {date_str}: {e}")

    # Increment to the next date
    current_date += timedelta(days=1)

Error: File is not a zip file. The file for 20220106 is not a valid Excel file.
Error: File is not a zip file. The file for 20220307 is not a valid Excel file.
Error: File is not a zip file. The file for 20220325 is not a valid Excel file.
Error: File is not a zip file. The file for 20220415 is not a valid Excel file.
Error: File is not a zip file. The file for 20220418 is not a valid Excel file.
Error: File is not a zip file. The file for 20220422 is not a valid Excel file.
Error: File is not a zip file. The file for 20220425 is not a valid Excel file.
Error: File is not a zip file. The file for 20220502 is not a valid Excel file.
Error: File is not a zip file. The file for 20220613 is not a valid Excel file.
Error: File is not a zip file. The file for 20220725 is not a valid Excel file.
Error: File is not a zip file. The file for 20220815 is not a valid Excel file.
Error: File is not a zip file. The file for 20220817 is not a valid Excel file.

In [ ]:
df.head()

   Number of Registered Members  Number of Market Makers
0                            25                        1
0                            25                        1
0                            25                        1
0                            25                        1
0                            25                        1

In [ ]:
bool_series = df.duplicated()

In [ ]:
[i for i, x in enumerate(bool_series) if x]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180]